<% if (unidades) { %>

   <section class="unidades-container" >
    <% unidades.forEach(unidad => { %>
        <a href="/calificar/aula/<%=unidad.id%>" class="unidad_card">
            <p class="unidad-card-evaluacion"><%=unidad.titulo %></p>
            <p><%=unidad.tipo_evaluacion %></p>
        </a>
    <% }) %>
   </section>
 
<% } else if(calificaciones) {%>

    <table class="calificaciones-table table table-striped">
        <thead>
            <tr>
                <th scope="col">Estudiante</th>
                <th scope="col">Unidad</th>
                <th scope="col">Evaluaciones</th>
                <th scope="col">Calificacion</th>
            </tr>
            <tbody>
                <% calificaciones.forEach(calificacion => { %>
                    <tr>
                        <th scope="row"><%= calificacion.nombre_usuario %></th>
                        <th><%= calificacion.evaluacion_unidad_id %></th>
                        <th><%= calificacion.archivo  %></th>
                        <th><%= calificacion.Calificacion%> <form action="/subircalificacion/<%=calificacion.id%>?_method=PATCH" method="POST">
                            <input type="number" class="form-control" name="calificacion">
                            <input type="submit" value="cambiar">
                        </form></th>
                    </tr>

                <% }) %>
            </tbody>
        </thead>
    </table>
    <% } %>

