<%- include('partials/head.ejs') %>
    <%- include('partials/header.ejs') %>
        <section class="all-container">
            <article class="aula-info">
                <h2>Crear Unidad</h2>
                <form action="/crearunidad" method="POST">
                    <label for="select-aula">selecione el aula</label>
                    <select required name="aula_id" id="select-aula" class="form-select">

                        <% aulas.forEach(aula=> {%>
                            <option value="<%=aula.id%>">
                                <%=aula.materia%> / <%= aula.seccion.toUpperCase() %>
                            </option>
                            <% }); %>
                    </select>

                    <input required type="text" class="form-control" placeholder="Titulo" name="titulo">
                    <textarea name="contenido" id="" class="form-control" placeholder="Escribe el contenido de la unidad aqui..."></textarea>
                    <input required type="text" class="form-control" name="tipo_evaluacion" placeholder="Tipo de Evaluacion">
                    <label for="">fecha de entrega</label>
                    <input required type="date" name="fecha_culminacion" class="form-control">

                    <input class="submit btn btn-primary" type="submit" value="Enviar" class="submit">
                </form>
            </article>
        </section>
        <%- include('partials/footer.ejs') %>