<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
    <section class="all-container">
        <article class="tusAulas">
                <%- include('partials/Components/aulas-cards.ejs') %>
        </article>
        <article class="aula-info">
            <% if (unidades) { %>
             <%- include('partials/Components/unidades_cards.ejs') %>
            <% } %>
        </article>
        
    </section>

    <%- include('partials/footer.ejs') %>